.list {
  display: flex;
  justify-content: space-between;
  margin: 1vh 1vw 0 1vw;
}

.titleWidth {
  width: 40vw;
  text-align: left;
}

.qtyWidth {
  width: 10vw;
  text-align: center;
}

.skillsWidth {
  width: 30vw;
}

.ratingWidth {
  width: 10vw;
}